.App {
  text-align: center;
  margin: 0 auto;
}

.Body{
  background-color: rgb(249, 247, 247);
  width: 100%;
  height: 100vh;
  position: relative;
}

.row > .col{
  padding-left: 0px;
  padding-right: 0px;
}

