.BodyColor{
    background: rgb(12,5,116);
    background: linear-gradient(36deg, rgba(12,5,116,1) 0%, rgba(23,23,218,1) 31%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.Arena{
    position: absolute;
    width: 72%;
    height: 60%;
    top: 8%;
    left: 14%;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.Table{
    position: absolute;
    width: 72%;
    height: 20%;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgba(255, 217, 0, 0.181);
    top: 74%;
    left: 14%;
}

.FotterArena{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 10%;
}

.TableFirst , .TableSecond{
    width: 50%;
    height: 100%;
    background-color: aqua;
    padding: 40px;
    float: left;
    text-align: center;
    font-size: 30px;
}

.ButtonWarOne,.ButtonWarTwo,.ButtonWarThree{
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 55px;
    border: 1.2px solid;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(36deg, rgba(12,5,116,1) 0%, rgba(23,23,218,1) 31%, rgba(0,212,255,1) 100%) border-box;
    border-radius: 10px;
     border: 2px solid transparent;
    transform: rotate(0);
    transition: 350ms;

}
.ButtonWarOne:hover,.ButtonWarTwo:hover,.ButtonWarThree:hover{
    transform: rotate(-70deg) scale(1.5);
    cursor: pointer;
    border: 1.4px solid ;
    background-color: white;

}


.pictureToButtonGame{
    width: 50px;
    height: 50px;
}

.custom-shape-divider-bottom-1658162932 {
    position: relative;
    bottom: 89px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658162932 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658162932 .shape-fill {
    fill: #FFFFFF;
}

.BlackScreen{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(8.6px);
    display: none;
    animation: flashBS 600ms forwards;
}

.BlackScreen.disable{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(8.6px);
    display: none;
    animation: flashBS_out 600ms forwards;
}

@keyframes flashBS {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes flashBS_out {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.BS_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    animation: effect_suprise 350ms ease 140ms forwards;
}

#blobSvg{
    position: relative;
    width: 100%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}
#blob{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}

.ButtonOnBlob{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: aqua;
    top: -180px;
    left: 100px;
    text-align: center;
}

.Score{
    font-size: 20px;
    width: 100px;
    height: 20px;
    float: left;
    margin-left: 30px;
    background-color: aquamarine;
    text-align: center;

}

@keyframes effect_suprise {
    0%{
        width: 0px;
        height: 0px;
    }
    70%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 350px;
        height: 350px;
    }
}