.Arena{
    position: absolute;
    width: 92%;
    height: 60%;
    background-color: rgb(94, 94, 94);
    border: 2px solid gold;
    top: 8%;
    left: 4%;
}
.Table{
    position: absolute;
    width: 92%;
    height: 20%;
    background-color: rgb(94, 94, 94);
    border: 2px solid gold;
    top: 74%;
    left: 4%;
}