:root {
    --playercolor: red;
    --computercolor: green;
}

.AGame{
    position: relative;
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.Player{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--playercolor);
    float: left;
    margin-right: 300px;
}

.Computer{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--computercolor);
    float: left;
}

